* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Moviefont;
  src: url("resources/fonts/LeagueSpartan-Regular.ttf");
}

html,
body {
  background-color: rgb(18, 24, 38);

  font-family: Moviefont;
  color: white;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image {
  width: 100vw;
  height: 45vh;
  object-fit: cover;
  filter: brightness(45%);
}

.header-content {
  position: absolute;
  font-size: 6rem;
  background: linear-gradient(
    90deg,
    rgb(21, 168, 201) 0%,
    rgb(57, 70, 213) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* SEARCH SECTION */
.search-section {
  position: absolute;
  width: 70vw;
  margin: 0 auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.25em 1.5em;
  border-radius: 0.5em;
  background-color: rgb(32, 41, 58, 0.9);
  display: flex;
  align-items: center;
  gap: 1em;
}

.search-section input {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5em;
  width: 100%;
}

.search-section input:focus {
  outline: none;
  border: none;
}

.search-results-list {
  margin: 2.5em auto;
  width: 70%;
  max-height: 35vh;
  overflow: scroll;
  border-radius: 0.5em;
  position: absolute;
  left: 15%;
}

.hide-list {
  display: none;
  border: 2px solid red;
}

.search-results-item {
  list-style: none;
  padding: 1em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0.25em 0;
  background-color: rgb(32, 41, 58, 0.9);
  border-radius: 0.5em;
  background-color: #21242c63;
}

.search-results-item a:link,
.search-results-item a:visited,
.movie-preview-items a:link,
.movie-preview-items a:visited {
  text-decoration: none;
  color: inherit;
}

.search-results-list li:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(32, 41, 58);
}

.hide-arrow {
  display: none;
}

/* DISPLAY SECTION */

.display-section {
  min-height: 45vh;
}

.movie-preview {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.483);
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.movie-preview-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 4em;
}

.movie-preview-items:hover {
  cursor: pointer;
}

.movie-preview-poster {
  width: 200px;
}
.movie-preview-text {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.display-section {
  display: grid;
  grid-template-columns: repeat(300px, 1fr);
}

/* MOVIE DETAILS */
.movie-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 0.5em;
  margin: 0 auto;
  padding: 2em;
  width: 70%;
}

.movie-banner {
  width: 500px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 2em 0;
  margin: 1em 0;
  font-size: 1.2rem;
}

.movie-people {
  font-weight: 700;
}

.movie-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}

.movie-genre {
  display: flex;
  gap: 1em;
}

.genre-item {
  padding: 0.25em 1em;
  background-color: rgb(30, 38, 56);
  border-radius: 1em;
}

.movie-button {
  padding: 0.25em 1em;
  border: none;
  border-radius: 1em;
  font-size: 1em;
  cursor: pointer;
  width: fit-content;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTON */

.back-btn {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: #121826;
  color: white;
  padding: 0.5em 0.75em;
  border-radius: 50px;
  border: none;
  width: 50px;
  margin: 1em 2em 0;
  position: absolute;
  top: 0;
}

/* FOOTER */
.footer {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  flex-direction: column;
  background-color: #202839;
  margin-top: 1em;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

@media (width< 900px) {
  .movie-card {
    flex-direction: column;
    font-size: 1rem;
  }

  .movie-banner {
    width: 300px;
  }
}

@media (width< 500px) {
  .header-content {
    font-size: 4rem;
  }

  .movie-banner {
    width: 200px;
  }
}
